REDCAP_API_TOKEN=replace_me
REDCAP_API_URL=https://your-redcap-host/api/
GITHUB_PAT=replace_me
REPORT_INTERVAL=14
HOSP_TO_VALIDATE=
ID_VAR=id
DATE_VAR=date_today
HOSP_VAR=hosp_id
SURROGATE_ID_VAR=ipno
LOCAL=true
CHUNKED=true
CHUNK_SIZE=100
R_WORKERS=2

# id -u
# id -g 
UID=1000
GID=1000
